
    <br> <br> 
    
    <p> Si das click en los botones de login y registrate saldran modals, si das click en "lab 19" de abajo se desapareceran con un toggle los botones, si haces click mostrar y ocultar todas las respuestas tambien son un toggles, tambien en el ultimo label se desaparecerá el boton de abajo si le das click (donde estarán las respuestas de las preguntas del lab) </p>

<div class="container">
    
    <div id= "div1"> <h2>Lab 19</h2></div>
    <div id="div2">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-default btn-lg" id="myBtn">Login</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Iniciar sesión</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form">
            <div class="form-group">
              <label for="cuenta"><span class="glyphicon glyphicon-user"></span> Cuenta</label> 
              <input type="text" class="form-control" id="cuenta" placeholder="Introduce tu cuenta">
            </div>
            <div class="form-group">
              <label for="contraseña"><span class="glyphicon glyphicon-eye-open"></span> Contraseña</label>
              <input type="password" class="form-control" id="contrasena" placeholder="Introduce contraseña">
            </div>

              <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Iniciar sesión</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
            
             </div>
      </div>
    </div>
  </div>
 
    
  <!-- Trigger the modal with a button -->
 <button type="button" class="btn btn-default btn-lg" id="myBtn2">Registrate</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Registrate</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form">
              <div class="form-group">
              <label for="nombre"><span class="glyphicon glyphicon-user"></span> Nombre </label> 
              <input type="text" class="form-control" id="nombre" placeholder="Introduce tu nombre">
            </div>
              <div class="form-group">
              <label for="ApellidoP"><span class="glyphicon glyphicon-user"></span> Apellido paterno</label> 
              <input type="text" class="form-control" id="ApellidoP" placeholder="Introduce tu apellido paterno">
            </div>
               <div class="form-group">
              <label for="ApellidoM"><span class="glyphicon glyphicon-user"></span> Apellido materno</label> 
              <input type="text" class="form-control" id="ApellidoM" placeholder="Introduce tu apellido materno">
            </div>
               <div class="form-group">
              <label for="FechaN"><span class="glyphicon glyphicon-user"></span> Fecha de nacimiento</label> 
              <input type="text" class="form-control" id="FechaN" placeholder="Fecha de nacimiento con formato año/mes/dia">
            </div>
               <div class="form-group">
              <label for="Email"><span class="glyphicon glyphicon-user"></span> Correo electrónico</label> 
              <input type="text" class="form-control" id="Email" placeholder="Introduce tu correo electrónico">
            </div>
              
            <div class="form-group">
              <label for="cuenta"><span class="glyphicon glyphicon-user"></span> Cuenta</label> 
              <input type="text" class="form-control" id="cuenta" placeholder="Introduce tu cuenta">
            </div>
            <div class="form-group">
              <label for="contraseña"><span class="glyphicon glyphicon-eye-open"></span> Contraseña</label>
              <input type="password" class="form-control" id="contrasena" placeholder="Introduce contraseña">
            </div>

              <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Registrarse</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        </div>
      </div>
      
    </div>
  </div> 
        </div>
</div>
    
    <br> <br> 
    <br> <br> 
    <br> <br> 
    <br> <br> 

    
    <p>Pregunta 1... (<a href="#" class="alternar-respuesta">ver respuesta</a>)</p>
<p class="respuesta" style="display:none">Respuesta 1...</p>
 
<p>Pregunta 2... (<a href="#" class="alternar-respuesta">ver respuesta</a>)</p>
<p class="respuesta" style="display:none">Respuesta 2...</p>
 
<p>Pregunta 3... (<a href="#" class="alternar-respuesta">ver respuesta</a>)</p>
<p class="respuesta" style="display:none">Respuesta 3...</p>
 
<a href="#" id="alternar-todo">Mostrar y ocultar todas las respuestas</a>
    
    
    
    <br> <br>
    <br> <br> 
    <br> <br> 
    <br> <br> 

     
<div id="flip">Click para ocultar los botones</div>
    <div id= "panel">
 <a href="preguntas.php" > PREGUNTAS DEL LAB </a> 
</div>
    
    <br> <br> 
    <br> <br> 




<script>
    
    $(document).ready(function(){
    $("#myBtn").click(function(){
        $("#myModal").modal();
    });
});    

    </script>

    <script>
    
            
     $(document).ready(function(){
        $("#myBtn2").click(function(){
        $("#myModal2").modal();
    });
});
    
    
    </script>