<br> <br> 
      <meta charset="utf-8" />
       <h1>  <center>  <a href="index.php" > Regresar al lab </a> </center></h1>
<br> <br>
<p>1.- Explica y elabora un diagrama sobre cómo funciona AJAX con jQuery. <br>
 <br> </p>

<img src="Captura.PNG">


<p>
2.-¿Qué alternativas a jQuery existen? <br>
    
 Puede sufir los mismos ataques que con JS, es importante hacer validaciones desde el cliente con formularios y del servidor.<br> <br>


Referencias <br> <br>
http://www.etnassoft.com/2011/03/28/alternativas-a-jquery/<br>
https://devcode.la/tutoriales/angularjs-vs-backbonejs-jquery-reactjs/ <br>
</p>