<br>




<!--<div class="fixed-action-btn">
    <a href="nuevo.php" class="btn-floating btn-large waves-effect waves-light gray">
         <i class="material-icons">add</i>
        <input id="boton1" ="waves-effect waves-light btn" type="submit" 
            value="<?php if(isset($registro)): ?>Guardar<?php else: ?>Registrar<?php endif;?>">-->

<!--    </a>
</div>-->

<div class="fixed-action-btn">
    <a href="nuevo.php" class="btn-floating btn-large waves-effect waves-light gray">
         <i class="material-icons">add</i>
    </a>
</div>


<div class="row" id= "container">

    
    <form class="col s12" action="guardar.php" method="POST" role= "form">
     
        <!--<?php if(isset($registro)): ?>
            <input name="id" id="id" type="hidden" value="<?=$registro["id"];?>">
        <?php endif; ?>-->
        
         <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
        
                <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div>
                    
        <div class="modal-body" style="padding:40px 50px;">
                
      <div class="row">
        <div class="input-field col s12">
          <input  name="nombre" id="nombre" type="text" class="validate" required value="<?php if(isset($registro)) echo $registro["nombre"] ?>">
          <label for="nombre">Nombre</label>
        </div>
      </div>
        
        <div id= "mensaje1" class= "errores"> Dame el nombre</div>
        

<div class="row">
          <?php if(isset($registro)): ?>
              <?=getDropdownZombie("Estado","EstadoActual",$registro["IdEstado"])?>
          <?php else: ?>
              <?=getDropdownZombie("Estado","EstadoActual")?>
          <?php endif; ?>
      </div>
            
      <div class="row">
        <div class="input-field col s12">
          <input onkeypress="sendRequest()"  id="ubicacion" name="ubicacion" type="text" class="validate" required value="<?php if(isset($registro)) echo $registro["ubicacion"] ?>">
          <label for="ubicacion">Ubicación</label>
          <div id="ajaxResponse"></div>
        </div>
      </div>
        
        <div id= "mensaje2" class= "errores"> Dame la ubicación</div>

      <div class="row">
        <div class="input-field col s12">
          <input id="boton1" class="waves-effect waves-light btn" type="submit" 
            value="<?php if(isset($registro)): ?>Guardar<?php else: ?>Registrar<?php endif;?>">
        </div>
      </div>
             </div>
                </div>
             </div>
  </div>
    </form>
</div>


