      </div>  
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <script type="text/javascript" src="login.js"></script>

      <script>
        
          $(document).ready(function() {
          $('select').material_select();
        });
          
          

      </script>

<script> 

        
    $(document).ready(function(){
        $("#boton1").click(function(){
                var nombre = $("#nombre").val();
                var domicilio = $("#ubicacion").val();
    
            if (nombre.length<2){
                $("#mensaje1").fadeIn();
                return false;
            } else {
                $("#mensaje1").fadeOut();
                    if (domicilio.length<4){
                        $("#mensaje2").fadeIn();
                        return false;
                    }else{
                            $("#mensaje2").fadeOut();
                    }
            }
            
            
    });
        });


</script>  

      <script type="text/javascript" src="js/ajax.js"></script>

<script> 
        $(document).ready(function(){
            var control = 0;
            console.log("acordeon");
            console.log(control);
            $("#encabezado").click(function(){
                console.log("acordeon click");
                console.log(control);
                if (control == 0){

                    $("#contenidoAcordeon").slideUp("fast");
                    control++;
                    
                } else {
                    $("#contenidoAcordeon").slideDown("fast");
                    control--;
                }
                    
            });
        });

</script>
    </body>
  </html>