
    
<!-- PARA AGREGAR UN USUARIO NUEVOOOOOOOOOOOOOOOOOOOOOO--> 

<div class="row" id= "contenedores">
    <form class="col s12" action="guardar.php" method="POST">
    
        <?php if(isset($registro)): ?>
            <input name="id" id="id" type="hidden" value="<?=$registro["IdEstado"];?>">
        <?php endif; ?>
        
      <div class="row">
        <div class="input-field col s12">
          <input  name="nombre" id="nombre" type="text" class="validate" required value="<?php if(isset($registro)) echo $registro["Nombre"] ?>">
          <label for="nombre">Nombre</label>

        </div>
      </div>
        
                <div id= "mensaje1" class= "errores"> Dame el nombre</div>

        
              <div class="row">
        <div class="input-field col s12">
          <input  name="ApellidoP" id="ApellidoP" type="text" class="validate" required value="<?php if(isset($registro)) echo $registro["ApellidoP"] ?>">
          <label for="ApellidoP">Apellido Paterno</label>
        </div>
      </div>
        
        
              <div class="row">
        <div class="input-field col s12">
          <input  name="ApellidoM" id="ApellidoM" type="text" class="validate" required value="<?php if(isset($registro)) echo $registro["ApellidoM"] ?>">
          <label for="ApellidoM">Apellido Materno</label>
        </div>
      </div>
        
        
        
        
        <!-- de aqui para arriba empecé 
NO ME FUNCIONO


<div class="row">
          <?php if(isset($registro)): ?>
              <?=getDropdownZombie("Estado","EstadoActual",$registro["IdEstado"])?>
          <?php else: ?>
              <?=getDropdownZombie("Estado","EstadoActual")?>
          <?php endif; ?>
      </div> -->



<p> Los Ids correctos son 1,2,3,4 a falta de tiempo lo dejé así... salía valor nulo cuando usaba el getdropdown <br>
    1 = infeccion <br>
    2 = coma <br>
    3 = transformacion <br>
    4 = completamente muerto <br> 
        
        </p>
        
      <div class="row">
        <div class="input-field col s12">
          <input onkeypress="sendRequest()" name="IdEstado" id="IdEstado" type="text" class="validate" required value="<?php if(isset($registro)) echo $registro["IdEstado"] ?>">
          <label for="IdEstado">Estado Actual</label>
                      <div id="ajaxResponse"></div>
        </div>
      </div>
        
        

      <div class="row">
        <div class="input-field col s12">
          <input id="boton1" ="waves-effect waves-light btn" type="submit" 
            value="<?php if(isset($registro)): ?>Guardar<?php else: ?>Registrar<?php endif;?>">
        </div>
      </div>
    </form>
  </div>
  
