.errores {

background: red;
color:darkseagreen;
display: none; 
    padding-top: 400px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.contenedores{
    
    font-family: sans-serif;
    font-size: 10px; 
    color: aquamarine;
}

.contenidoAcordeon{
    background: green;
}

.acordeon{
    margin: 0 auto;
    width: 1000px;
}

.encabezado{
    background: green;
    cursor: pointer;
    padding: 10px; 
}

.modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }