  <div class="row">
    <form class="col s12" action="guardar.php" method="POST">
    
        <?php if(isset($registro)): ?>
            <input name="id" id="id" type="hidden" value="<?=$registro["id"];?>">
        <?php endif; ?>
        
      <div class="row">
        <div class="input-field col s12">
          <input name="nombre" id="nombre" type="text" class="validate" required value="<?php if(isset($registro)) echo $registro["nombre"] ?>">
          <label for="nombre">Nombre</label>
        </div>
      </div>
      <div class="row">
          <?php if(isset($registro)): ?>
              <?=getDropdownRaza("raza","tipo",$registro["raza_id"])?>
          <?php else: ?>
              <?=getDropdownRaza("raza","tipo")?>
          <?php endif; ?>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input onkeypress="sendRequest()" id="ubicacion" name="ubicacion" type="text" class="validate" required value="<?php if(isset($registro)) echo $registro["ubicacion"] ?>">
          <label for="ubicacion">Ubicación</label>
          <div id="ajaxResponse"></div>
        </div>
      </div>
        <!-- asdad
        <div class="row">
        <div class="input-field col s12">
          <input name="nombre" id="nombre" type="text" class="validate" required value="<?php if(isset($registro)) echo $registro["nombre"] ?>">
          <label for="nombre">Nombre</label>
        </div>
      </div> -->
        
      <div class="row">
        <div class="input-field col s12">
          <input class="waves-effect waves-light btn" type="submit" 
            value="<?php if(isset($registro)): ?>Guardar<?php else: ?>Registrar<?php endif;?>">
        </div>
      </div>
    </form>
  </div>
  
