<br> <br> 
      <meta charset="utf-8" />
       <h1>  <center>  <a href="index.php" > Regresar al lab </a> </center></h1>
<br> <br>
<p>1.- ¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications? <br>
Es un tipo de aplicacion web que pretende incrementar y mejorar opciones y capacidades de las aplicaciones web tradicionales por medio de una comunicación asincrona <br> <br>

2.-¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor? <br>
    
 Puede sufir los mismos ataques que con JS, es importante hacer validaciones desde el cliente con formularios y del servidor.<br> <br>

3.-¿Qué es JSON? <br>
 Es un formato ligero de intercambio de datos. Leerlo y escribirlo es simple para humanos, mientras que para las máquinas es simple interpretarlo y generarlo. <br> <br>


Referencias <br> <br>
https://www.researchgate.net/profile/Piero_Fraternali/publication/220491688_Rich_Internet_Applications/links/54bfc1460cf28a63249fdb9c.pdf? <br>
origin=publication_list <br>
http://www.json.org/json-es.html

</p>