<br> <br> 
      <meta charset="utf-8" />
       <h1>  <center>  <a href="index.php" > Regresar al lab </a> </center></h1>
<br> <br>
<p>1.- ¿Qué es ODBC y para qué es útil? <br>
 Es una interfaz de programación de aplicaciones estándar para acceder a una base de datos, puedes acceder a los archivos de diferentes base de datos, necesitando un módulo o control independiente para cada base de datos. En nuestro caso lo usaremos más para consultas de SQL. <br> <br>

2.-¿Qué es SQL Injection? <br>
    
 Técnica para crear o alterar comandos SQL existentes para exponer datos ocultos, modificar datos o ejecutar comandos en el sistema en el equipo que hospeda la base de datos.<br> <br>

3.-¿Qué técnicas puedes utilizar para evitar ataques de SQL Injection? <br>
 Evitar conectarse como superusuario o como propietario de la base de datos. utilice cuentas con privilegios limitados.
Emplee sentencias preparadas con variables vinculadas. Son proporcionadas por PDO, MySQLi y otras bibliotecas.  <br> <br>


Referencias <br> <br>
http://php.net/manual/es/security.database.sql-injection.php <br>
http://searchdatacenter.techtarget.com/es/definicion/Open-Database-Connectivity-ODBC <br>

</p>