    <br> <br> <br> 
    <p> Este formulario está pensado cuando veamos el viernes como capturar información para que sea un registro. </p>
    <br> <br> <br> 


    <div class="container">
                
        <form class="col s12" method="POST" action="guardar.php" enctype="multipart/form-data">
            <?php if(isset($registro)): ?>
                    <input name="id" id="id" type="hidden" value="<?=$registro["id"];?>">
                <?php endif; ?>
        <div class="form-group">
      <label for="IdBecario">IdBecario</label>
      <input type="text" name="IdBecario" id= "IdBecario" class="form-control" required value="<?php if(isset($registro)) echo $registro["IdBecario"] ?>">
  </div>
        
        <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" id= "nombre" class="form-control" required value="<?php if(isset($registro)) echo $registro["nombre"] ?>">
  </div>

  <div class="form-group">
      <label for="ApellidoP">Apellido Paterno </label>
      <input type="text" name="ApellidoP" class="form-control" id="ApellidoP" required value="<?php if(isset($registro)) echo $registro["ApellidoP"] ?>" >
  </div>

   <div class="form-group">
      <label for="ApellidoM">Apellido Materno </label>
      <input type="text" name="ApellidoM" class="form-control" id="ApellidoM" required value="<?php if(isset($registro)) echo $registro["ApellidoM"] ?>">
  </div>

  <div class="form-group">
      <label for="FechaN">Fecha de nacimiento </label>
      <input type="text" name="FechaN" class="form-control" id="FechaN" required value="<?php if(isset($registro)) echo $registro["FechaN"] ?>">
  </div>
        
  <div class="form-group">
      <label for="Email">Email </label>
      <input type="text" name="Email" class="form-control" id="Email" required value="<?php if(isset($registro)) echo $registro["Email"] ?>">
  </div>    
        
        <div class="form-group">
      <label for="Status">Status </label>
      <input type="text" name="Status" class="form-control" id="Status" required value="<?php if(isset($registro)) echo $registro["Status"] ?>">
  </div>    
    
    <center>
      <input type="submit" value="<?php if(isset($registro)): ?>Guardar<?php else: ?>Registrar<?php endif;?>" class="btn btn-info" name="boton"> 
        
    <br>
        
        
        
    <div class="fixed-action-btn">
        <a href="modificar.php" class="btn-floating btn-large waves-effect waves-light gray">
             <i class="material-icons">add</i>
        </a>
    </div>

        
        
        
        <br>
        <div>
    <a href="pagina.php">Preguntas</a>
        </div>
    </center>

    </form>
        </div>