<p>  ¿Por qué es una buena práctica separar el modelo del controlador? <br>
Es bueno por que delegas responsabilidades a cada archivo y no sobresaturas uno solo controlando varias cosas de la página

<br> <br> 




    ¿Qué es SQL Injection? <br>
Técnica para crear o alterar comandos SQL existentes para exponer datos ocultos, modificar datos o ejecutar comandos en el sistema en el equipo que hospeda la base de datos.<br> <br>




    ¿Qué técnicas puedes utilizar para evitar ataques de SQL Injection? <br> 
Evitar conectarse como superusuario o como propietario de la base de datos. utilice cuentas con privilegios limitados.
Emplee sentencias preparadas con variables vinculadas. Son proporcionadas por PDO, MySQLi y otras bibliotecas. <br> <br>


Referencias: <br> <br>
    
http://php.net/manual/es/security.database.sql-injection.php<br>
http://searchdatacenter.techtarget.com/es/definicion/Open-Database-Connectivity-ODBC

</p>
