/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

/*
.fixed-nav-bar {
  position: fixed;
  top: 0;
  z-index: 9999;
}
*/

.nav-btn {
  width: 7em;
  text-align: center;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#front-page-logo {
    display: inline-block;
    height: 100%;
    pointer-events: none;
}

#logo-container {
    height: 57px;
    margin-bottom: 32px;
}

ul.side-nav li.logo {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 80px;
}

ul.side-nav {
    overflow: hidden;
}
