    <br> <br> <br> 
    <p> Este formulario está pensado cuando veamos el viernes como capturar información para que sea un registro. </p>
    <br> <br> <br> 

    <div class="container">
    <form class="col s12" method="POST" action="ejercicio.php"  enctype="multipart/form-data">
        <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" id= "nombre" class="form-control">
  </div>

  <div class="form-group">
      <label for="ApellidoP">Apellido Paterno </label>
      <input type="text" name="ApellidoP" class="form-control" id="ApellidoP" >
  </div>

   <div class="form-group">
      <label for="ApellidoM">Apellido Materno </label>
      <input type="text" name="ApellidoM" class="form-control" id="ApellidoM">
  </div>

  <div class="form-group">
      <label for="Escuela">Escuela </label>
      <input type="text" name="Escuela" class="form-control" id="Escuela">
  </div>
    
    <center>
      <input type="submit" value="Consultar" class="btn btn-info" name="boton"> 
        
        <br>
        <div>
    <a href="pagina.php">Preguntas</a>
        </div>
    </center>

    </form>
        </div>