  <!-- START FOOTER -->
    <footer class="page-footer cyan darken-1">
        <div class="container">
            <div class="row section">
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Footer</h5>
                    <p class="grey-text text-lighten-4">text</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Copyright © 2017 <a class="grey-text text-lighten-4" href="" target="_blank">Fundación Vértice</a>
                <span class="right"> Desarrollado por <a class="grey-text text-lighten-4" href="">Torime</a></span>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->


    <!-- ================SCRIPTS=============== -->
    
    <script type="text/javascript" src="js/jquery-1.js"></script>    
    <script type="text/javascript" src="js/materialize.js"></script>
    <script type="text/javascript" src="js/perfect-scrollbar.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>

</body>
</html>