
            <!-- END LEFT SIDEBAR NAV-->

            <!-- ============================================================= -->

            <!-- START CONTENT -->
            <section id="content">

                <!--start container-->
                <div class="container">

                    <!-- =========================================================================== -->
                    <!-- ===========================INICIA ALTA BECARIOS============================ -->
                    <!-- =========================================================================== -->

                    <!--work collections start-->
                    <div id="work-collections">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <ul id="projects-collection" class="collection collapsible" data-collapsible="expandable">
                                     <!--===================-->
                                    <li class="collection-item avatar">
                                        <i class="large material-icons circle light-blue darken-2">card_membership</i>
                                        <span class="collection-header">Información de becario</span>
                                        <p>Editar</p>
                                        <a href="#" class="secondary-content"><i class=""></i></a>
                                    </li>
                                    <!--===================-->
                                    <ul class="collection collapsible" data-collapsible="expandable">
                                        
                                <!--===============INICIA INFORMACION GENERAL=================-->
                                    <li class="collection-item white">
                                        <div class="collapsible-header">
                                            <a>Información General</a>
                                        </div>
                                        <div class="collapsible-body black-text">
                                        <div class="row">
                                            <div class="col s8">
                                                <ul id="projects-collection" class="">
                                                    <li class="collection-item">
                                                        <div class="row">
                                                            <div class="col s4">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="nombre" type="text" class="validate" name="nombre">
                                                                  <label for="nombre">Nombre</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s4">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="apellidoP" type="text" class="validate" name="apellidoP">
                                                                  <label for="apellidoP">Apellido Paterno</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s4">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="apellidoM" type="text" class="validate" name="apellidoM">
                                                                  <label for="apellidoM">Apellido Materno</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="collection-item">
                                                        <div class="row">
                                                            <div class="col s4">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="curp" type="text" class="timepicker" name="curp">
                                                                  <label for="curp">CURP</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s4">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                <select>
                                                                  <option value="" disabled selected>Sexo</option>
                                                                  <option value="1">Masculino</option>
                                                                  <option value="2">Femenino</option>
                                                                </select>
                                                                <label>Sexo</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s4">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="fechaNac" type="text" class="datepicker" name="fechaNac">
                                                                  <label for="fechaNac">Fecha de Nacimineto</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="collection-item">
                                                        <div class="row">
                                                            <div class="col s4">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="folio" type="text" class="validate" name="folio">
                                                                  <label for="folio">Folio</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s4">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="email" type="email" class="validate" name="email">
                                                                  <label for="email">Email</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s4">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="lugarNac" type="text" class="validate" name="lugarNac">
                                                                  <label for="lugarNac">Lugar de Nacimineto</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>                                            
                                            </div>
                                            <div class="col s4 center">
                                                <br>
                                                <img src="IMG/profile/profile.png" height="260">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s8">
                                                <ul id="projects-collection" class="">
                                                    <li class="collection-item">
                                                        <div class="row">
                                                            <div class="col s4">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="comunidad" type="text" class="validate" name="comunidad">
                                                                  <label for="comunidad">Comunidad</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s4">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="prioridad" type="text" class="validate" name="prioridad">
                                                                  <label for="prioridad">Prioridad</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s4">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="status" type="text" class="validate" name="status">
                                                                  <label for="status">Status</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="collection-item">
                                                    </li>
                                                </ul>                                            
                                            </div>
                                            <div class="col s4">
                                                <ul id="projects-collection" class="">
                                                    <li class="collection-item">
                                                        <div class="row">
                                                            <div class="col s12">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="fechaE" type="text" class="datepicker" name="fechaE">
                                                                  <label for="fechaE">Fecha Entrevista</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        </div>
                                    </li>
                                <!--===============TERMINA INFORMACION GENERAL=================-->
                                        
                                <!--===============INICIA INFORMACION TELEFONO=================-->
                                    <li class="collection-item white">
                                        <div class="collapsible-header">
                                            <a>Teléfonos</a>
                                        </div>
                                        <div class="collapsible-body black-text">
                                        <div class="row">
                                            <div class="col s12">
                                                <ul id="projects-collection" class="">
                                                    <li class="collection-item">
                                                        <div class="row">
                                                            <div class="col s6 offset-s3">
                                                            <div class="row">
                                                                <table class="highlight">
                                                                <thead>
                                                                  <tr>
                                                                      <th>Dueño</th>
                                                                      <th>Numero Telefónico</th>
                                                                      <th></th>
                                                                  </tr>
                                                                </thead>

                                                                <tbody>
                                                                  <tr>
                                                                    <td>Jonathan</td>
                                                                    <td>44 22 44 22 44</td>
                                                                    <td class="cyan-text darken-1"><a><i class="small material-icons">edit</i></a>   <a><i class="small material-icons">delete</i></a></td>
                                                                  </tr>
                                                                </tbody>
                                                              </table>
                                                            </div>
                                                            </div>                                                                                                                  
                                                        </div>
                                                    </li>
                                                    <li class="collection-item">
                                                        <div class="row">
                                                            <div class="col s4 l4">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="dueño" type="text" class="validate" name="dueño">
                                                                  <label for="dueño">Dueño del teléfono</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s4 l4">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="numero" type="text" class="validate" name="numero">
                                                                  <label for="numero">Numero telefónico</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s4 l4">
                                                            <div class="row">
                                                                <div class="input-field col s12 center">
                                                                  <a class="waves-effect waves-light btn cyan darken-1">Agregar</a>
                                                                </div>
                                                            </div>
                                                            </div> 
                                                        </div>
                                                    </li>
                                                </ul>                                            
                                            </div>
                                        </div>
                                        </div>
                                    </li>
                                <!--===============TERMINA INFORMACION TELEFONO=================-->
                                        
                                <!--===============INICIA INFORMACION ESCOLAR=================-->
                                    <li class="collection-item white">
                                        <div class="collapsible-header">
                                            <a>Información Escolar</a>
                                        </div>
                                        <div class="collapsible-body black-text">
                                        <div class="row">
                                            <div class="col s12">
                                                <ul id="projects-collection" class="">
                                                    <li class="collection-item">
                                                        <div class="row">
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="nivel" type="text" class="validate" name="nivel">
                                                                  <label for="nivel">Nivel</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="grado" type="text" class="validate" name="grado">
                                                                  <label for="grado">Grado</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="escuela" type="text" class="validate" name="escuela">
                                                                  <label for="escuela">Escuela</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="carrera" type="text" class="validate" name="carrera">
                                                                  <label for="carrera">Carrera</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="collection-item">
                                                        <div class="row">
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="promedioI" type="number" class="timepicker" name="promedioI">
                                                                  <label for="promedioI">Promedio Inicial</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="promedioA" type="number" class="text" name="promedioA">
                                                                  <label for="promedioA">Promedio Actual</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>                                            
                                            </div>
                                        </div>
                                        </div>
                                    </li>
                                <!--===============TERMINA INFORMACION ESCOLAR=================-->
                                        
                                <!--===============INICIA INFORMACION FAMILIAR=================-->
                                    <li class="collection-item white">
                                        <div class="collapsible-header">
                                            <a>Información Familiar</a>
                                        </div>
                                        <div class="collapsible-body black-text">
                                        <div class="row">
                                            <div class="col s12">
                                                <ul id="projects-collection" class="">
                                                    <li class="collection-item">
                                                        <div class="row">
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="mama" type="number" class="validate" name="mama">
                                                                  <label for="mama">Mama</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="papa" type="number" class="validate" name="papa">
                                                                  <label for="papa">Papa</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="hermanos" type="number" class="validate" name="hermanos">
                                                                  <label for="hermanos">Hermanos</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="hijos" type="number" class="validate" name="hijos">
                                                                  <label for="hijos">Hijos</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="collection-item">
                                                        <div class="row">
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="abuelo" type="number" class="validate" name="abuelo">
                                                                  <label for="abuelo">Abuelo</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="abuela" type="number" class="validate" name="abuela">
                                                                  <label for="abuela">Abuela</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="otros" type="number" class="validate" name="otros">
                                                                  <label for="otros">Otros</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="collection-item">
                                                        <div class="row">
                                                            <div class="col s12">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="dinamicaf" type="text" class="validate" name="dinamicaf">
                                                                  <label for="dinamicaf">Dinámica Familiar</label>
                                                                </div>
                                                            </div>
                                                            </div>                                                        
                                                        </div>
                                                    </li>
                                                </ul>                                            
                                            </div>
                                        </div>
                                        <div class="row">
                                            <p><strong>Familiares Enfermos</strong></p>
                                            <div class="col s12">
                                                <ul id="projects-collection" class="">
                                                    <li class="collection-item">
                                                        <div class="row">
                                                            <div class="col s8 offset-s2">
                                                            <div class="row">
                                                                <table class="highlight">
                                                                <thead>
                                                                  <tr>
                                                                      <th>Familiar</th>
                                                                      <th>Descripción</th>
                                                                      <th></th>
                                                                  </tr>
                                                                </thead>

                                                                <tbody>
                                                                  <tr>
                                                                    <td>Abuelo</td>
                                                                    <td>Diabetes</td>
                                                                    <td class="cyan-text darken-1"><a><i class="small material-icons">edit</i></a>   <a><i class="small material-icons">delete</i></a></td>
                                                                  </tr>
                                                                </tbody>
                                                              </table>
                                                            </div>
                                                            </div>                                                                                                                  
                                                        </div>
                                                    </li>
                                                    <li class="collection-item">
                                                        <div class="row">
                                                            <div class="col s4 l4">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="familiarE" type="text" class="validate" name="familiarE">
                                                                  <label for="familiarE">Familiar</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s4 l4">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="descripcionE" type="text" class="validate" name="descripcionE">
                                                                  <label for="descripcionE">Descripción de enfermedad</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s4 l4">
                                                            <div class="row">
                                                                <div class="input-field col s12 center">
                                                                  <a class="waves-effect waves-light btn cyan darken-1">Agregar</a>
                                                                </div>
                                                            </div>
                                                            </div> 
                                                        </div>
                                                    </li>
                                                </ul>                                            
                                            </div>
                                        </div>                                        
                                        </div>
                                    </li>
                                <!--===============TERMINA INFORMACION FAMILIAR=================-->
                                
                                <!--===============INICIA INFORMACION ETNIA=================-->
                                    <li class="collection-item white">
                                        <div class="collapsible-header">
                                            <a>Etnia</a>
                                        </div>
                                        <div class="collapsible-body black-text">
                                        <div class="row">
                                            <div class="col s12">
                                                <ul id="projects-collection" class="">
                                                    <li class="collection-item">
                                                        <div class="row">
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="etnia" type="text" class="validate" name="etnia">
                                                                  <label for="etnia">Etnia</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="lengua" type="text" class="validate" name="lengua">
                                                                  <label for="lengua">¿Habla lengua?</label>
                                                                </div>
                                                            </div>
                                                            </div>                                                        
                                                        </div>
                                                    </li>
                                                </ul>                                            
                                            </div>
                                        </div>
                                        </div>
                                    </li>
                                <!--===============TERMINA INFORMACION ETNIA=================-->
                                
                                <!--===============INICIA INFORMACION TRABAJO=================-->
                                    <li class="collection-item white">
                                        <div class="collapsible-header">
                                            <a>Información Laboral</a>
                                        </div>
                                        <div class="collapsible-body black-text">
                                        <div class="row">
                                            <div class="col s12">
                                                <ul id="projects-collection" class="">
                                                    <li class="collection-item">
                                                        <div class="row">
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="trabajo" type="text" class="validate" name="trabajo">
                                                                  <label for="trabajo">Trabajo</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="dias" type="text" class="validate" name="dias">
                                                                  <label for="dias">Dias</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="periodo" type="text" class="validate" name="periodo">
                                                                  <label for="periodo">Periodo</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="horario" type="text" class="validate" name="horario">
                                                                  <label for="hoario">Horario</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="collection-item">
                                                        <div class="row">
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="tiempoL" type="text" class="timepicker" name="tiempoL">
                                                                  <label for="tiempoL">Tiempo libre</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="ingresoMin" type="number" class="text" name="ingresoMin">
                                                                  <label for="ingresoMin">Ingreso Mínimo</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="ingresoMax" type="number" class="text" name="ingresoMax">
                                                                  <label for="ingresoMax">Ingreso Máximo</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>                                            
                                            </div>
                                        </div>
                                        </div>
                                    </li>
                                <!--===============TERMINA INFORMACION TRABAJO=================-->
                                        
                                <!--===============INICIA INFORMACION APOYO=================-->
                                    <li class="collection-item white">
                                        <div class="collapsible-header">
                                            <a>Apoyo Económico</a>
                                        </div>
                                        <div class="collapsible-body black-text">
                                        <div class="row">
                                            <div class="col s12">
                                                <ul id="projects-collection" class="">
                                                    <li class="collection-item">
                                                        <div class="row">
                                                            <div class="col s6 offset-s3">
                                                            <div class="row">
                                                                <table class="highlight">
                                                                <thead>
                                                                  <tr>
                                                                      <th>Beneficio</th>
                                                                      <th>Periodo</th>
                                                                      <th>Monto</th>
                                                                      <th></th>
                                                                  </tr>
                                                                </thead>

                                                                <tbody>
                                                                  <tr>
                                                                    <td>PROSPERA</td>
                                                                    <td>mensual</td>
                                                                    <td>$ 500.00</td>
                                                                    <td class="cyan-text darken-1"><a><i class="small material-icons">edit</i></a>   <a><i class="small material-icons">delete</i></a></td>
                                                                  </tr>
                                                                </tbody>
                                                              </table>
                                                            </div>
                                                            </div>                                                                                                                  
                                                        </div>
                                                    </li>
                                                    <li class="collection-item">
                                                        <div class="row">
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="beneficio" type="text" class="validate" name="beneficio">
                                                                  <label for="beneficio">Beneficio</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="periodo" type="text" class="validate" name="periodo">
                                                                  <label for="periodo">Periodo</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="monto" type="text" class="validate" name="monto">
                                                                  <label for="monto">Monto</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12 center">
                                                                  <a class="waves-effect waves-light btn cyan darken-1">Agregar</a>
                                                                </div>
                                                            </div>
                                                            </div> 
                                                        </div>
                                                    </li>
                                                </ul>                                            
                                            </div>
                                        </div>
                                        </div>
                                    </li>
                                <!--===============TERMINA INFORMACION APOYO=================-->
                                
                                <!--===============INICIA INFORMACION TRANSPORTE=================-->
                                    <li class="collection-item white">
                                        <div class="collapsible-header">
                                            <a>Transporte</a>
                                        </div>
                                        <div class="collapsible-body black-text">
                                        <div class="row">
                                            <div class="col s12">
                                                <ul id="projects-collection" class="">
                                                    <li class="collection-item">
                                                        <div class="row">
                                                            <div class="col s6 offset-s3">
                                                            <div class="row">
                                                                <table class="highlight">
                                                                <thead>
                                                                  <tr>
                                                                      <th>Tipo</th>
                                                                      <th>Ida/Vuelta</th>
                                                                      <th>Costo</th>
                                                                      <th></th>
                                                                  </tr>
                                                                </thead>

                                                                <tbody>
                                                                  <tr>
                                                                    <td>Camión</td>
                                                                    <td>ida</td>
                                                                    <td>$ 5.00</td>
                                                                    <td class="cyan-text darken-1"><a><i class="small material-icons">edit</i></a>   <a><i class="small material-icons">delete</i></a></td>
                                                                  </tr>
                                                                </tbody>
                                                              </table>
                                                            </div>
                                                            </div>                                                                                                                  
                                                        </div>
                                                    </li>
                                                    <li class="collection-item">
                                                        <div class="row">
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="tipo" type="text" class="validate" name="tipo">
                                                                  <label for="tipo">Tipo</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                <select>
                                                                  <option value="" disabled selected>Ida/Vuelta</option>
                                                                  <option value="1">Ida</option>
                                                                  <option value="2">Vuelta</option>
                                                                </select>
                                                                <label>Ida/Vuelta</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                  <input id="costo" type="text" class="validate" name="costo">
                                                                  <label for="costo">Costo</label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12 center">
                                                                  <a class="waves-effect waves-light btn cyan darken-1">Agregar</a>
                                                                </div>
                                                            </div>
                                                            </div> 
                                                        </div>
                                                    </li>
                                                </ul>                                            
                                            </div>
                                        </div>
                                        </div>
                                    </li>
                                <!--===============TERMINA INFORMACION TRANSPORTE=================-->
                                
                                <!--===============INICIA INFORMACION DOCUMENTACION=================-->
                                    <li class="collection-item white">
                                        <div class="collapsible-header">
                                            <a>Documentación</a>
                                        </div>
                                        <div class="collapsible-body black-text">
                                        <div class="row">
                                            <div class="col s12">
                                                <ul id="projects-collection" class="">
                                                    <li class="collection-item">
                                                        <div class="row">
                                                            <div class="col s8 offset-s2">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                        <div class="file-field input-field">
                                                                          <div class="dropdown-button btn " data-activates='dropdown1'>
                                                                            <span>File</span>
                                                                            <input type="file" multiple>
                                                                          </div>
                                                                          <div class="file-path-wrapper">
                                                                            <input class="file-path validate" type="text" placeholder="Seleccione los archivo a subir">
                                                                          </div>
                                                                        </div>


                                                                        <ul id='dropdown1' class='dropdown-content'>
                                                                            <li><a href="#!">Acta de Nacimiento</a></li>
                                                                            <li><a href="#!">CURP</a></li>
                                                                            <li class="divider">Sertificado de Secundaria</li>
                                                                            <li><a href="#!">Carta de Maestros</a></li>
                                                                            <li><a href="#!">Constancia de Recursos Economicos</a></li>
                                                                            <li><a href="#!">Carta de Padres de Familia</a></li>
                                                                            <li><a href="#!">Ine Padre de Familia</a></li>
                                                                            <li><a href="#!">Curp Padre de Familia</a></li>
                                                                            <li><a href="#!">Boleta de Calificaciones</a></li>
                                                                            <li><a href="#!">Constancia de Inscripcion Actualizada</a></li>
                                                                            <li><a href="#!">Dictamen Medico</a></li>
                                                                            <li><a href="#!">Constancia de Servicio Comunitario</a></li>
                                                                            <li><a href="#!">Fotografias</a></li>
                                                                            <li><a href="#!">Copia de Credencial de Fundación</a></li>
                                                                            <li><a href="#!">Convenio Actualizado</a></li>
                                                                            <li><a href="#!">Tarjeta de Debito</a></li>
                                                                            <li><a href="#!">Carta Compromiso Comunitario</a></li>
                                                                            <li><a href="#!">Evaluación de Cumplimietno o de Convenio</a></li>
                                                                        </ul>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>                                            
                                            </div>
                                        </div>
                                        </div>
                                    </li>
                                <!--===============TERMINA INFORMACION DOCUMENTACION=================-->
                                
                                <!--===============INICIA INFORMACION OBSERVACIONES=================-->
                                    <li class="collection-item white">
                                        <div class="collapsible-header">
                                            <a>Observaciones</a>
                                        </div>
                                        <div class="collapsible-body black-text">
                                        <div class="row">
                                            <div class="col s12">
                                                <ul id="projects-collection" class="">
                                                    <li class="collection-item">
                                                        <div class="row">
                                                            <div class="col s10 offset-s1">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                    <div class="row">
                                                                    <div class="input-field col s12">
                                                                        <i class="material-icons prefix">mode_edit</i>
                                                                        <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                                                                        <label for="icon_prefix2">Observaciones sobre situación</label>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>                                            
                                            </div>
                                        </div>
                                        </div>
                                    </li>
                                <!--===============TERMINA INFORMACION OBSERVACIONES=================-->
                                        
                                <!--===============INICIA BOTONES====================================-->
                                    <li class="collection-item white">
                                        <div class=" black-text">
                                        <div class="row">
                                            <div class="col s12">
                                                <ul id="projects-collection" class="">
                                                    <li class="collection-item">
                                                        <div class="row">
                                                            <div class="right col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                    <button class="waves-effect waves-light btn red darken-2">Cancelar</button>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="right col s3">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                    <button class="waves-effect waves-light btn green darken-2">Guardar</button>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>                                            
                                            </div>
                                        </div>
                                        </div>
                                    </li>
                                <!--===============TERMINA BOTONES===================================-->
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- =========================================================================== -->
                    <!-- ==============================FIN ALTA BECARIOS============================ -->
                    <!-- =========================================================================== -->

                </div>
                <!--end container-->
            </section>
            <!-- END CONTENT -->

            <!-- ================================================================================= -->

        </div>
        <!-- END WRAPPER -->

    </div>
    <!-- END MAIN -->



    <!-- ======================================================== -->
