
            <!-- ============================================================= -->

            <!-- START CONTENT -->
            <section id="content">

                <!--start container-->
                <div class="container">

                    <!-- =========================================================================== -->
                    <!-- ===========================INICIA BECARIOS============================ -->
                    <!-- =========================================================================== -->

                    <!--work collections start-->
                    <div id="work-collections">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <ul id="projects-collection" class="collection collapsible" data-collapsible="expandable">
                                     <!--===================-->
                                    <li class="collection-item avatar">
                                        <i class="large material-icons circle light-blue darken-2">card_membership</i>
                                        <span class="collection-header">Información de becario</span>
                                        <p>Selecciona un becario</p>
                                        <a href="#" class="secondary-content"><i class=""></i></a>
                                    </li>
                                    <!--===================-->
                                        
                                <!--===============INICIA INFORMACION GENERAL=================-->
                                    <li class="collection-item white">
                                        <div class="black-text">
                                        <div class="row">
                                        <div class="col s10 offset-s1">
                                            <table class="highlight">
                                                <thead>
                                                  <tr class="cyan daken-2 white-text">
                                                    <th>
                                                        Folio
                                                    </th>
                                                    <th>Nombre</th>
                                                    <th>Apellido Paterno</th>
                                                    <th>Apellido Materno</th>
                                                    <th>Edad</th>
                                                    <th>Status</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                    <td>001</td>
                                                    <td>Romel</td>
                                                    <td>Martinez</td>
                                                    <td>Olvera</td>
                                                    <td>18</td>
                                                    <td>Reprobado</td>
                                                    </tr>
                                                    <tr>
                                                    <td>002</td>
                                                    <td>JP</td>
                                                    <td>Martinez</td>
                                                    <td>Olvera</td>
                                                    <td>18</td>
                                                    <td>OK</td>
                                                    </tr>
                                                    <tr>
                                                    <td>003</td>
                                                    <td>Omar</td>
                                                    <td>Martinez</td>
                                                    <td>Olvera</td>
                                                    <td>18</td>
                                                    <td>OK</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        </div>
                                        </div>
                                    </li>
                                <!--===============TERMINA INFORMACION GENERAL=================-->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- =========================================================================== -->
                    <!-- ==============================FIN ALTA BECARIOS============================ -->
                    <!-- =========================================================================== -->

                </div>
                <!--end container-->
            </section>
            <!-- END CONTENT -->

            <!-- ================================================================================= -->

        </div>
        <!-- END WRAPPER -->

    </div>
    <!-- END MAIN -->



    <!-- ======================================================== -->
