

            <!-- ============================================================= -->

            <!-- START CONTENT -->
            <section id="content">

                <!--start container-->
                <div class="container">

                    <!-- =========================================================================== -->
                    <!-- ===========================INICIA ALTA BECARIOS============================ -->
                    <!-- =========================================================================== -->

                    <!--work collections start-->
                    <div id="work-collections">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <ul id="projects-collection" class="collection collapsible" data-collapsible="expandable">
                                     <!--===================-->
                                    <li class="collection-item avatar">
                                        <i class="large material-icons circle light-blue darken-2">card_membership</i>
                                        <span class="collection-header">Informes</span>
                                        <p>Editar</p>
                                        <a href="#" class="secondary-content"><i class=""></i></a>
                                    </li>
                                    <!--===================-->
                                    <ul class="collection collapsible" data-collapsible="expandable">
                                        
                                        
                                <!--===============INICIA INFORMACION TELEFONO=================-->
                                    <li class="collection-item white">
                                        <div class="black-text">
                                        <div class="row">
                                            <div class="col s12">
                                                <ul id="projects-collection" class="">
                                                    <li class="collection-item">
                                                        <div class="row">
                                                            <div class="col s6 offset-s3">
                                                            <div class="row">
                                                                <table class="highlight">
                                                                <thead>
                                                                  <tr>
                                                                      <th>Nombre</th>
                                                                      <th></th>
                                                                  </tr>
                                                                </thead>

                                                                <tbody>
                                                                  <tr>
                                                                    <td>Informe Enero</td>
                                                                    <td class="cyan-text darken-1"><a><i class="small material-icons">edit</i></a>   <a><i class="small material-icons">delete</i></a></td>
                                                                  </tr>
                                                                </tbody>
                                                              </table>
                                                            </div>
                                                            </div>                                                                                                                  
                                                        </div>
                                                    </li>
                                                    <li class="collection-item">
                                                        <div class="row">
                                                            <div class="col s10 offset-s1">
                                                            <div class="row">
                                                                <form action="#">
                                                                    <div class="file-field input-field">
                                                                      <div class="btn cyan darken-2">
                                                                        <span>File</span>
                                                                        <input type="file">
                                                                      </div>
                                                                      <div class="file-path-wrapper">
                                                                        <input class="file-path validate" type="text">
                                                                      </div>
                                                                    </div>
                                                                  </form>
                                                            </div>
                                                            </div> 
                                                        </div>
                                                    </li>
                                                </ul>                                            
                                            </div>
                                        </div>
                                        </div>
                                    </li>
                                <!--===============TERMINA INFORMACION TELEFONO=================-->
                        
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- =========================================================================== -->
                    <!-- ==============================FIN ALTA BECARIOS============================ -->
                    <!-- =========================================================================== -->

                </div>
                <!--end container-->
            </section>
            <!-- END CONTENT -->

            <!-- ================================================================================= -->

        </div>
        <!-- END WRAPPER -->

    </div>
    <!-- END MAIN -->



    <!-- ======================================================== -->
