

            <!-- ============================================================= -->

            <!-- START CONTENT -->
            <section id="content">

                <!--start container-->
                <div class="container">

                    <!-- =========================================================================== -->
                    <!-- ===========================INICIA ALTA BECARIOS============================ -->
                    <!-- =========================================================================== -->

                    <!--work collections start-->
                    <div id="work-collections">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <ul id="projects-collection" class="collection collapsible" data-collapsible="expandable">
                                     <!--===================-->
                                    <li class="collection-item avatar">
                                        <i class="large material-icons circle light-blue darken-2">card_membership</i>
                                        <span class="collection-header">Solicitudes de cuenta</span>
                                        <p>Texto</p>
                                        <a href="#" class="secondary-content"><i class=""></i></a>
                                    </li>
                                    <!--===================-->
                                    <ul class="collection collapsible" data-collapsible="expandable">
                                <!--===============INICIA INFORMACION TELEFONO=================-->
                                    <li class="collection-item white">
                                        <div class="black-text">
                                        <div class="row">
                                            <div class="card">
                                            <div class="card-content">
                                              <span class="card-title activator grey-text text-darken-4"><i class="material-icons left">account_circle</i>Romel<i class="material-icons right">add</i></span>
                                              <a class="#4caf50 green btn">Aceptar</a>
                                              <a class="#f44336 red btn">Denegar</a>
                                            </div>
                                            <div class="card-reveal">
                                              <span class="card-title grey-text text-darken-4">Información de la cuenta<i class="material-icons right">close</i></span>
                                               <p>Información</p>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-content">
                                              <span class="card-title activator grey-text text-darken-4"><i class="material-icons left">account_circle</i>JuanPA<i class="material-icons right">add</i></span>
                                              <a class="#4caf50 green btn">Aceptar</a>
                                              <a class="#f44336 red btn">Denegar</a>
                                            </div>
                                            <div class="card-reveal">
                                              <span class="card-title grey-text text-darken-4">Información de la cuenta<i class="material-icons right">close</i></span>
                                               <p>Información</p>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-content">
                                              <span class="card-title activator grey-text text-darken-4"><i class="material-icons left">account_circle</i>OamrDe<i class="material-icons right">add</i></span>
                                              <a class="#4caf50 green btn">Aceptar</a>
                                              <a class="#f44336 red btn">Denegar</a>
                                            </div>
                                            <div class="card-reveal">
                                              <span class="card-title grey-text text-darken-4">Información de la cuenta<i class="material-icons right">close</i></span>
                                               <p>Información</p>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-content">
                                              <span class="card-title activator grey-text text-darken-4"><i class="material-icons left">account_circle</i>David<i class="material-icons right">add</i></span>
                                              <a class="#4caf50 green btn">Aceptar</a>
                                              <a class="#f44336 red btn">Denegar</a>
                                            </div>
                                            <div class="card-reveal">
                                              <span class="card-title grey-text text-darken-4">Información de la cuenta<i class="material-icons right">close</i></span>
                                               <p>Información</p>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-content">
                                              <span class="card-title activator grey-text text-darken-4"><i class="material-icons left">account_circle</i>Ricardo<i class="material-icons right">add</i></span>
                                              <a class="#4caf50 green btn">Aceptar</a>
                                              <a class="#f44336 red btn">Denegar</a>
                                            </div>
                                            <div class="card-reveal">
                                              <span class="card-title grey-text text-darken-4">Información de la cuenta<i class="material-icons right">close</i></span>
                                               <p>Información</p>
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                    </li>
                                <!--===============TERMINA INFORMACION TELEFONO=================-->
                            
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- =========================================================================== -->
                    <!-- ==============================FIN ALTA BECARIOS============================ -->
                    <!-- =========================================================================== -->

                </div>
                <!--end container-->
            </section>
            <!-- END CONTENT -->

            <!-- ================================================================================= -->

        </div>
        <!-- END WRAPPER -->

    </div>
    <!-- END MAIN -->



    <!-- ======================================================== -->
