<?php if($_SESSION["BooleanAValidacion"]==true): ?>

<br> 

<div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
                <img class="responsive-img circle center" src="<?=$_SESSION["foto"] ?>">
            </div>
            <div class="card-content center">
                <p> Bienvenido <?=$_SESSION["nombre"]?> <?=$_SESSION["apellidop"]?> <?=$_SESSION["apellidom"]?> !!
              <p>Tu usuario es: <?=$_SESSION["usuario"]?><br></p>
                <p>Contraseña: <?=$_SESSION["contrasena"]?></p>
                                
            </div>
          </div>
        </div>
</div>

                <p> Preguntas del lab <br><br>
    ¿Por qué es importante hacer un session_unset() y luego un session_destroy()? <br>
      Por lo que entendí unset libera la información introducida en la sesión y el destroy elimina/cierra la sesión       <br> <br> 
    ¿Cuál es la diferencia entre una variable de sesión y una cookie? Permite guardar/almacenar información del usuario al pasar de una pagina a otra, la información se guardan en el servidor y no en el cliente como con una cookie.<br>
                    <br> <br>
    ¿Qué técnicas se utilizan en sitios como facebook para que el usuario no sobreescriba sus fotos en el sistema de archivos cuando sube una foto con el mismo nombre? <br>
    Crean ids y estos permiten realizar cambios sin que se sobreescriba la información                <br> <br>
    ¿Qué es CSRF y cómo puede prevenirse?<br>
     Es un ataque que consiste en inyectar codigo en el html del servidor y que una persona ingrese al servidor modificado (sin que ellos sepan que está modificado) y realizar peticiones sin que el usuario se dé cuenta.<br> <br>
                    
    Se previene cerrando sesion de las cuentas que ya no vas a usar en el momento, bloquear ejecuciones de scripts y usar el metodo POST ya que la informacion no puede ser enviada sin que el usuario lo autorice.

                <br> <br>
                    
    Referencias: <br>
    http://php.net/session_unset <br>
    http://php.net/session_destroy <br>
    http://idesweb.es/proyecto/proyecto-prac09-php-cookies-sesiones <br>                
    https://www.welivesecurity.com/la-es/2015/04/21/vulnerabilidad-cross-site-request-forgery-csrf/<br>                
                    </p>


<?php endif; ?>
