<!--  <div class="row">-->
    
        <!--  <div class="col s12 m6 l6 pull-l6">
              
                <form action="citas.php" method="POST">
                  <div class="input-field col s12">
                      <input placeholder="Nombre" name="nombre" id="nombre" type="text" class="validate" required>
                      <label for="nombre">Nombre</label>
                  </div>
                  <div class="input-field col s12">
                      <input placeholder="Apellido paterno" name="apellidoP" id="apellidoP" type="text" class="validate" required>
                      <label for="apellidoP">Apellido paterno</label>
                  </div>
                  <div class="input-field col s12">
                      <input placeholder="Apellido materno" name="apellidoM" id="apellidoM" type="text" class="validate" required>
                      <label for="apellidoM">Apellido materno</label>
                  </div>
                  <div class="input-field col s12">
                      <input placeholder="Usuario" name="usuario" id="usuario" type="text" class="validate" required>
                      <label for="usuario">Usuario</label>
                  </div>
                    <div class="input-field col s12">
                      <input placeholder="Contraseña" name="contrasena" id="contrasena" type="password" class="validate" required>
                      <label for="contrasena">Contraseña</label>
                  </div>
                    
                  <div class="input-field col s12">
                  <input type="submit" value="Crear cuenta" class="waves-effect waves-light btn">
                  </div>
                </form>
          </div>-->
    <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send purple-text"></i></h3>
          <h4><i class="purple-text">Llena el formulario</i></h4>
            
          <!--   <p> Cualquier retroalimentación del lab que me ayude a saber porque msadiafe no sirvió será de mucha ayuda.</p>-->
            
            <br> <br> 

        </div>
      </div>

    </div>
  </div>
    
    <div class="container">
    <form class="col s12" method="POST" action="validacion.php"  enctype="multipart/form-data">
        <div class="input-field col s4">
            <?php if (isset($_SESSION["error_nombre"])): ?>
                        <?= $_SESSION["error_nombre"]; ?>
                        <?php unset($_SESSION["error_nombre"]); ?>
                    <?php endif; ?>
          <input value="<?php if (isset($_SESSION["nombre"])):?><?=$_SESSION["nombre"];?><?php endif;?>" 
                 id="nombre" name="nombre" type="text" class="validate" class="align-center" required >
          <label for="nombre">Nombre </label>
        </div>
        <div class="input-field col s4">
            <?php if (isset($_SESSION["error_apellidop"])): ?>
                        <?= $_SESSION["error_apellidop"]; ?>
                        <?php unset($_SESSION["error_apellidop"]); ?>
                    <?php endif; ?>
          <input  value="<?php if (isset($_SESSION["apellidop"])):?><?=$_SESSION["apellidop"];?><?php endif;?>" 
                 id="apellidop" name="apellidop" type="text" class="validate" required>
          <label for="apellidop">Apellido Paterno</label>
        </div>
          <div class="input-field col s4">
            <?php if (isset($_SESSION["error_apellidom"])): ?>
                        <?= $_SESSION["error_apellidom"]; ?>
                        <?php unset($_SESSION["error_apellidom"]); ?>
                    <?php endif; ?>
          <input value="<?php if (isset($_SESSION["apellidom"])):?><?=$_SESSION["apellidom"];?><?php endif;?>" 
                 id="apellidom" name="apellidom" type="text" class="validate" required>
          <label for="apellidom">Apellido Materno</label>
        </div>
 
         <div class="input-field col s4">
                         <?php if (isset($_SESSION["error_usuario"])): ?>
                        <?= $_SESSION["error_usuario"]; ?>
                        <?php unset($_SESSION["error_usuario"]); ?>
                    <?php endif; ?>
          <input value="<?php if (isset($_SESSION["usuario"])):?><?=$_SESSION["usuario"];?><?php endif;?>"
                 id="usuario" name="usuario" type="text" class="validate" required>
          <label for="usuario">Usuario</label>
        </div>
        <div class="input-field col s4">
          <input id="contrasena" type="password" name="contrasena" class="validate" required>
          <label for="contrasena">Contraseña</label>
        </div>
        <div class="file-field input-field col s12">
                    <div class="btn">
                      <span>File</span>
                      <input type="file" name="foto" id="foto">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text" required>
                    </div>
                  </div>
        <div class="col s12 m4 l2"><p></p></div>
        <input type="submit" value="Registrar" class="waves-effect waves-light btn">
        <div class="col s12 m4 l2"><p></p></div>

    </form>
        </div>
