body {
  font-size: 30px;
}
.marca {
    font-size: 5em;  
    color: rgba(70, 100, 120, 0.3);

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}